$mobileWidth :767px;
$tabletWidth : 1023px;


// font
$font-averta:'Averta Std CY';
$font-mark:'Mark Pro';

// color
$textPrimary: #213D55;
$textSecondary: #0774B2;
$subTextColor : #006198;
$textButtonColor:#0086C7;